.header {
    height: 60px;
    font-size: calc(100vw / 25);
    box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);

    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    &__link{
        margin-right: 1em;
        font-size: 0.25em;
        color: black;

        &.active{
            color: mediumseagreen;
        }
    }
}